/* General Styling */
:root {
    --dark: #32343D;
    --light: white;
    --accent: #91CCCE;
    --font: #445877;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

p {
    line-height: 1.5em;
}

section {
    padding: 75px 0;
    overflow: hidden;
}

/* Navigation Styling */
header{
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 90%;
    max-width: 1440px;
}

.logo {
    font-size: 1.3em;
}

.nav-div {
    margin: 0;    
    padding: 0;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.nav-link {
    text-decoration: none;
    margin: 0 15px;
    color: var(--light);
}

/* Reusable elements */

/* Turquoise card on hero section and portfolio container */
.subtitle-card {
    background-color: var(--accent);
    padding: 20px;
    width: 25em;
}

/* Line on each section */
.border-line {
    border-left: 2px solid var(--dark);
    padding-left: 50px;
}

/* Body Section Styling */
.section-row {
    width: 90%;
    max-width: 1440px;
}

.column {
    float: left;
}

.left {
    width: 20%;
    text-align: right;
    padding: 0 50px;
}

.right {
    width: 80%;
}

/* Hero Section Styling */
.hero {
    height: 400px;
    background-image: url(https://images.pexels.com/photos/18069161/pexels-photo-18069161/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-the-process-used-by-text-to-image-diffusion-models-it-was-created-by-linus-zoll-as-part-of-the-visualising-ai.png?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-position: center;
}

.hero-title-position {
    position: relative;
    left: 35%;
    top: 70%;
}

/* Portfolio Styling */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    height: 800px;
}

#project-1 { grid-area: 1 / 1 / 3 / 3; }
#project-2 { grid-area: 3 / 1 / 4 / 2; }
#project-3 { grid-area: 3 / 2 / 4 / 3; }
#project-4 { grid-area: 4 / 1 / 5 / 2; }
#project-5 { grid-area: 4 / 2 / 5 / 3; }

.project-box {
    background-color: var(--dark);
    border: 4px solid var(--accent);
    color: var(--light);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
}

.project-info {
    width: 20%;
    max-width: 350px;
    position: absolute;
    margin: 25px 0;
}

/* Contact Syling */
.contact-ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 0px;
    height: 100px;
}
.contact-link {
    font-size: 1.7em;
    color: var(--dark);
}