/* General Styling */
:root {
    --dark: #32343D;
    --light: white;
    --accent: #91CCCE;
    --font: #445877;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
    color: var(--dark);
}

h2 {
    font-size: 2.5em;
}

p {
    line-height: 1.5em;
}

section {
    padding: 75px 0;
    overflow: hidden;
}

footer {
    padding: 50px 0;
    margin-bottom: 150px;
}

/* Navigation Styling */
header{
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 90%;
    max-width: 1440px;
}

#logo {
    font-size: 1.8em;
    text-align: right;
    padding: 0 25px;
    margin: 0;
}

.nav-div {
    margin: 0;    
    padding: 0;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-link {
    font-weight: bolder;
    margin: 0 15px;
    color: var(--accent);
}

.nav-logo {
    text-decoration: none;
    color: var(--dark);
}

.nav-logo-container {
    width: 350px;
    padding: 15px 0;
    background-color: var(--accent);
    margin-left: -75px;
}

/* Reusable elements */

/* Turquoise card on hero section and portfolio container */
.subtitle-card {
    background-color: var(--accent);
    padding: 20px;
    width: 25em;
}

/* Line on each section */
.border-line {
    border-left: 2px solid var(--dark);
    padding-left: 50px;
}

/* Body Section Styling */
.section-row {
    width: 90%;
    max-width: 1440px;
}

.column {
    float: left;
}

.left {
    width: 20%;
    text-align: right;
    padding: 0 50px;
}

.right {
    width: 80%;
}

/* Hero Section Styling */
.hero {
    height: 400px;
    background-image: url(https://images.pexels.com/photos/18069161/pexels-photo-18069161/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-the-process-used-by-text-to-image-diffusion-models-it-was-created-by-linus-zoll-as-part-of-the-visualising-ai.png?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-position: center;
}

.hero-content {
    max-width: 1440px;
}

.hero-title-position {
    position: relative;
    left: 36%;
    top: 175px;
}

/* Portfolio Styling */
.project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    height: 800px;
}

#project-1 { 
    grid-area: 1 / 1 / 3 / 3;
    background-image: url(https://images.pexels.com/photos/17485678/pexels-photo-17485678/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-how-ai-could-be-used-in-the-field-of-sustainability-from-biodiversity-to-climate-it-was-created-by-nidia-dias.png?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover;
    cursor: pointer;
    
}
#project-2 { 
    grid-area: 3 / 1 / 4 / 2;
    background-image: url(https://images.pexels.com/photos/17483848/pexels-photo-17483848/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-a-look-inside-how-ai-microchips-are-designed-it-was-created-by-champ-panupong-techawongthawon-as-part-of-the-v.png?auto=compress&cs=tinysrgb&w=1600
    );
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
#project-3 { 
    grid-area: 3 / 2 / 4 / 3;
    background-image: url(https://images.pexels.com/photos/8386365/pexels-photo-8386365.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#project-4 { grid-area: 4 / 1 / 5 / 2; 
    background-image: url(https://images.pexels.com/photos/17484899/pexels-photo-17484899/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-represents-the-boundaries-set-in-place-to-secure-safe-accountable-biotechnology-it-was-created-by-khyati-trehan-as-pa.png?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

#project-5 { grid-area: 4 / 2 / 5 / 3; 
    background-image: url(https://images.pexels.com/photos/14953694/pexels-photo-14953694.jpeg?auto=compress&cs=tinysrgb&w=800&lazy=load);
    background-position: center;
    background-size: cover;
    cursor: pointer;
}

.project-box {
    background-color: var(--dark);
    border: 4px solid var(--accent);
    color: var(--dark);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: flex-end;
    box-shadow: inset 0 0 0 2000px #32343d76;
}

/* Hover Animations */
.project-box:hover {
    box-shadow: inset 0 0 0 0px #32343d00;
    transition: 200ms;
}


.project-info {
    width: 20%;
    max-width: 350px;
    position: absolute;
    margin: 25px 0;
}

/* Contact Syling */
.contact-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0px;
    height: 100px;
}

.contact-link {
    font-size: 1.5em;
    color: var(--dark);
}

/* Small Laptop Media Queries */
@media screen and (max-width: 1160px) {
    section {
        padding: 30px 0;
    }

    p {
        padding-right: 15px;
    }

    .section-row {
        width: 95%;
    }

    .column {
        float: inline-start;
    }

    .left {
        width: 100%;
        text-align: left;
        padding: 20px 0;
    }

    .right {
        width: 100%;
    }

    .border-line {
        border: none;
        padding-left: 0px;
    }

}

/* Tablet Media Queries */
@media screen and (max-width: 768px) {
    /* Navigation Styling */
    nav {
        flex-direction: column;
        height: 100px;
    }

    .nav-logo-container {
        margin-top: 18px;
    }
    
    .nav-ul {
        display: none;
    }

    /* Hero Section Styling */
    .hero-title-position {
        left: 25%;
    }

    /* Portfolio Styling */
    .project-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);

    }

    #project-1 { grid-area: 1 / 1 / 3 / 3; }
    #project-2 { grid-area: 3 / 1; }
    #project-3 { grid-area: 4 / 1; }
    #project-4 { grid-area: 5 / 1; }
    #project-5 { grid-area: 6 / 1; }

    .project-info {
        width: 50%;
        margin: 15px 0;
    }

    /* Contact Syling */
    .contact-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 50px;
    }

    .contact-ul li {
        margin: 10px 0;
    }

    /* Footer styling */
    footer {
        margin-bottom: 350px;
    }

    #contact-title {
        text-align: center;
    }

}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 1.6em;
    }

    .hero-title-position {
        width: 200px;
        left: -15%;
        top: 250px;
    }
}