/* General Styling */
:root {
    --dark: #32343D;
    --light: white;
    --accent: #91CCCE;
    --font: #445877;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    box-sizing: border-box;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 2.5em;
}

p {
    line-height: 1.5em;
}

section {
    padding: 75px 0;
}

/* Navigation Styling */
header{
    background-color: var(--dark);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 90%;
    max-width: 1440px;
}

.logo {
    font-size: 1.3em;
}

.nav-div {
    margin: 0;    
    padding: 0;
}

ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}


.nav-link {
    text-decoration: none;
    margin: 0 15px;
    color: white;
}

/* Reusable elements */
.subtitle-card {
    background-color: var(--accent);
    padding: 20px;
    width: 25em;
}

.border-line {
    border-left: 2px solid var(--dark);
    padding-left: 50px;
}

/* Hero Section Styling */
.hero {
    height: 400px;
    background-image: url(https://images.pexels.com/photos/18069161/pexels-photo-18069161/free-photo-of-an-artist-s-illustration-of-artificial-intelligence-ai-this-image-depicts-the-process-used-by-text-to-image-diffusion-models-it-was-created-by-linus-zoll-as-part-of-the-visualising-ai.png?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-position: center;
}

.hero-title-position {
    position: relative;
    left: 35%;
    top: 70%;
}

/* About Me Section Styling */
.section-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 90%;
}


aside {
    text-align: right;
    padding: 0 50px;
    grid-area: 1 / 1 / 2 / 2;
}

.about-text {
    grid-area: 1 / 2 / 5 / 6; 
}

/* Portfolio Styling */

/* Contact Syling */